@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #800000; 
  --color-primary-light: #A52A2A;
  --color-background: #F4F4F4; 
  --color-surface: #FFFFFF;
  --color-text-main: #1A1A1A;
  --color-text-muted: #666666;
  --color-accent: #B8860B; 
}

:root {
  color-scheme: light;
}

body {
  @apply bg-background text-text-main antialiased;
  margin: 0;
  font-family: "Google Sans", sans-serif;
}